{% extends "AppFinal/padre.html" %}

{% load static %}

{% block ContenidoCambiante %}
<div class="cutomer">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Juan Sebastian Cortes Avila</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container">
                         <div class="carousel-caption ">
                            <div class="cross_img">
                               <figure><img  src="{% static 'AppFinal/images/juanse.png' %}" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>Tecnico & Tecnologo en Sistemas Informaticos</h4>
                                  <span>Developer in Process</span>
                                  <p>Hola tengo 27 años soy un apasionado de la informatica, me gustan los videojuegos, peliculas de terror y disfruto mucho investigar y aprender sobre las tecnologias informaticas ya sea de desarrollo o cualquier tema en general, soy de Bogota Colombia y espero que te haya gustado mi proyecto!! </p>
                                  <h2>Sigueme en mis redes sociales</h2>
                                  <h1><a href="https://www.facebook.com/JuanC196/">Facebook</a> </h1>
                                  <h1><a href="https://www.instagram.com/juanc196.jc/">Instagram</a></h1>
                                  <h1><a href="https://www.linkedin.com/in/juan-sebastian-cortes-avila-387322140/">Linkedin</a></h1>
                                  <i><img src="{% static 'AppFinal/images/te1.png' %}" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
               
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}