{% extends "AppFinal/padre.html" %}

{% load static %}

{% block ContenidoCambiante %}
<br>
<br>
<center><div>
    <h2>Todos los registros de Comentarios</h2>
    <br>
{% for p in texto %}

    <li>{{p}}</li>
    <button class="btn btn-success btn-sm">
        <a href="{% url 'Comentarios' %}">Añadir</a>
    </button>
    <button class="btn btn-danger btn-sm">
        <a href="{% url 'delete_coment' p.texto %}"> Eliminar </a>
    </button>
    <button class="btn btn-warning btn-sm">
        <a href="{% url 'edit_coment' p.texto %}"> Editar </a>
    </button>
{% endfor %} 

{% endblock %}

