{% extends "AppFinal/padre.html" %}

{% load static %}

{% block ContenidoCambiante %}
<br>
<center><div>
    <form action="" method="POST"> {% csrf_token %}
       <h2>Dejanos tu comentario</h2>
       <table>

        {{ miFormulario.as_table }}

       </table>
       <br>
       <input type="submit" value="Enviar Comentario">
    </form>
        
</div></center>
<!-- cutomer -->
<div class="cutomer">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Que dicen nuestros clientes</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container">
                         <div class="carousel-caption ">
                            <div class="cross_img">
                               <figure><img src="{% static 'AppFinal/images/cross_img.png' %}" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>Due markes</h4>
                                  <span>Rental</span>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                  <i><img src="{% static 'AppFinal/images/te1.png' %}" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="carousel-caption">
                            <div class="cross_img">
                               <figure><img src="{% static 'AppFinal/images/cross_img.png' %}" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>Due markes</h4>
                                  <span>Rental</span>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                  <i><img src="{% static 'AppFinal/images/te1.png' %}" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="carousel-caption">
                            <div class="cross_img">
                               <figure><img src="{% static 'AppFinal/images/cross_img.png' %}" alt="#"/></figure>
                            </div>
                            <div class="our cross_layout">
                               <div class="test_box">
                                  <h4>Due markes</h4>
                                  <span>Rental</span>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                  <i><img src="{% static 'AppFinal/images/te1.png' %}" alt="#"/></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end cutomer -->

{% endblock %}