{% extends "blogs_base/base.html" %}
{% block content %}
<h2>Listado de blogs</h2>
{% if blogs %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Subtítulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Imagen</th> 
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
            <tr>
                <th scope="row">{{ blog.id }}</th>
                <td>{{ blog.title }}</td>
                <td>{{ blog.subtitle }}</td>
                <td>{{ blog.author.username }}</td>
                <td>{{ blog.date }}</td>
                <td>
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 100px; max-height: 100px;"> <!-- Mostrar la imagen -->
                </td>
                <td><a class="btn btn-sm btn-info" href="{% url 'blog-detail' blog.pk %}">ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No hay blogs disponibles</p>
{% endif %}
{% if user.is_authenticated %}
    <a href="{% url 'blog-create' %}" class="btn btn-success">Agregar blog</a>
{% endif %}
{% endblock %}

