
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="max-width: 270px" src="../media/lau.jpeg" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Laura Flores</h5>
                  <p class="card-text">Mi nombre es Laura, tengo 36 años, en 2022 termine en CoderHouse la carrera de Data Science, por lo que me intereso conocer más sobre Python.</p>
                  <br>
                  <h5 class="card-title">Sobre el Blog</h5>
                  <br>
                  <ul><li>
                  <p class="card-text">Realizado para: CoderHouse
                    <br> Curso: Python
                    <br>Profesor: David Bustos Usta
                    <br>Comisión: 40435
                    <br>Alumna:Laura Flores</p>
                  </li></ul>
                  <br>
                  <ul><li>
                  Descripción:
                  <p class="card-text">Este proyecto busca emular un sitio web de tipo blog, sobre recetas de cocina.</p>
                  </li></ul>
                </div>
              </div>
            </div>
          </div>
    </div> 

    {% endblock %}

