
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}
    
    
    Resultado de la busqueda...
  

    <form action="" method="GET">
        
    </form>

        {% if resultado %}
        
            <ul>
                {% for receta in resultado %}
                

                <div class="card" style="width: 18rem">
                    <img src="{{receta.image.url}}" class="card-img-top" >
                    <div class="card-body">
                    <h5 class="card-title">{{receta.title}}</h5>
                    <p class="card-text">Time: {{receta.time}}min</p>
                    

                    
                    <a href="/detallerecetas/{{receta.id}}/" class="btn btn-primary">Leer más...</a>
                    
                    </div>
                </div>
                   
                {% endfor %}
                </ul>
        {% else %}
                <p>No se encontro receta</p>
        
        {% endif %}
    
    {% endblock %}
