{% extends "App1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-image: url('{% static 'App1/assets/img/Lupa.jpg' %}'); 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center">
</body>

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if miFormulario.errors %} 
    <p style="color: red;">Estan mal los datos, revisar</p>
    {% endif %}

   <center>
    <p                                                      ></p>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            
            <a href="{% url 'busquedaProducto' %}" class="btn btn-success">Buscar productos</a>
        </form>        
        <p                                                      ></p>                                            
       
        <p                                                      ></p>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            
            <a href="{% url 'listaProducto' %}" class="btn btn-success">Lista de productos</a>
        </form> </center>
{% endblock %}