{% extends "app/base.html" %}

{% block content %}

<div class="row">

    <div class="col">

        <h2>Edición de Producto</h2>

        {% if messages %}

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mensajes">
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{% url 'producto' %}">Regresar a vista de Productos</a>

        {% else %}
        
            <form method="post" class="creacion">
                {% csrf_token %} 
                {{ form.as_p }}
                <input class="btn btn-success mt-2 w-100" type="submit" value="Editar" />
            </form>

        {% endif %}

    </div>

</div>
  
{% endblock %}