{% extends "app/base.html" %}

{% block content %}

<div class="row">

  <h2>Productos</h2>
  <p>Ingresa un producto a la base de datos agregando su nombre, precio y código.</p>

  <div class="col-md-4">
    <form class="creacion w-500" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary mt-2 w-100" type="submit">Guardar</button>
    </form>
  </div>

  <div class="col-md-8">
    {% if messages %}
      {% for message in messages %}
          <div id="temporizador" class="alert alert-{{ message.tags }} mensajes">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}

    {% if productos %}
    <ul class="listado-base-de-datos listas-productos">
      {% for producto in productos %}
        <li>
          <img src="{{ producto.image.url }}" alt="">
          <p> {{ producto.name }} <br/> ${{ producto.price }} <br/> {{ producto.sku }}</p>

          <p>
            <a href="{% url 'producto_editar' id_producto=producto.id %}" class="btn btn-success">Editar</a>
            <a href="{% url 'producto_eliminar' id_producto=producto.id %}" class="btn btn-danger">Eliminar</a>
          </p>

        </li>
      {% endfor %}
    </ul>
  {% endif %}

  </div>

</div>

{% endblock %}