{% extends "app/base.html" %}

{% block content %}

<div class="row">

  <h2>Vendedores</h2>
  <p>Ingresa un Vendedor a la base de datos agregando su nombre y correo electrónico.</p>

  <div class="col-md-4">
    <form method="post" class="creacion">
      {% csrf_token %} 
      {{ form.as_p }}
      <input class="btn btn-primary mt-2 w-100" type="submit" value="Crear" />
    </form>
  </div>
  
  <div class="col-md-8">
    {% if messages %}
      {% for message in messages %}
          <div id="temporizador" class="alert alert-{{ message.tags }} mensajes">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}

      {% if vendedores %}
      <ul class="listado-base-de-datos">
        {% for vendedor in vendedores %}
          <li>
            
            <p>{{ vendedor.name }} - {{ vendedor.email }}</p>

            <p>
              <a href="{% url 'vendedor_editar' id_vendedor=vendedor.id %}" class="btn btn-success">Editar</a>
              <a href="{% url 'vendedor_eliminar' id_vendedor=vendedor.id %}" class="btn btn-danger">Eliminar</a>
            </p>

          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  
  </div>

{% endblock %}