{% extends 'AppTennis/padre.html' %}
{% block title %} Gestion Resultado {% endblock %}
{% load static %}



{% block contenidoQueCambia %}
    <h1>Gestión Resultado</h1>

    {% for r in resultado %}
     <li>{{r}}<button> <a href="{% url 'eliminar_resultado' resultado_id=r.id %}">Eliminar</a> </button>
              <button> <a href="{% url 'editar_resultado'   resultado_id=r.id %}">Editar </a> </button>
    </li>        
    {% endfor %}
    
    <a href=" {% url 'ResultadoFormulario' %}">Cargar otro  Resultado</a>   
    <li> <p><a href="{% url 'novedades' %}"><h3> Ir a  Inicio </h3></a> </p>  </li>
{% endblock %}


