    <!--Template padre-->
    <!DOCTYPE html>
    <html lang="es">
        <head>
            {% load static %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <title>{% block title %} Página de inicio{% endblock %}</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{% static 'AppTennis/css/styles.css' %}" rel="stylesheet" />
            <link rel="icon" type="image/png" href="{% static 'AppTennis/assets/pelotita.png' %}">
        
        </head>
        <body>
            <!-- Navigation-->
            <nav class="navbar navbar-light bg-light fixed-top">
                <div class="container"> 
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'novedades' %}">Gestión</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'sobremi' %}">Sobre mí</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a>
                                </li>
                            </ul>
                    
                            <ul class="navbar-nav ml-auto">
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'editarperfil' %}">Editar Perfil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">Desconectarse</a>
                                    </li>
                                    <br>
                                    <li class="nav-item">
                                        <span class="navbar-text">Bienvenido, {{ user.username }}</span>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                                    </li>
                                    <li class="nav-item">
                                        <span class="navbar-text">No has iniciado sesión</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                  
                </div> 
            </nav>
            <!-- Masthead-->
            <header class="masthead">
                <style>      .container {
                      display: flex;
                    }
                
                    .list {
                      flex: 1;
                    }
                  </style>
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="text-center text-white">
                                <!-- Page heading-->
                                <h1 class="mb-5 text-center">Django - "App Tennis"</h1>
                                <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                    <!-- Email address input-->
                                    
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            <p>To activate this form, sign up at</p>
                                            <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {% block contenidoQueCambia  %}
           
            {% endblock contenidoQueCambia  %} 

                    <!-- Footer-->
            <footer class="footer bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                            <ul class="list-inline mb-2">
                          
                            </ul>
                            
                        </div>
                        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item me-4">
                                    <a href="#!"><i class="bi-facebook fs-3"></i></a>
                                </li>
                                <li class="list-inline-item me-4">
                                    <a href="#!"><i class="bi-twitter fs-3"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#!"><i class="bi-instagram fs-3"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <!-- * *                               SB Forms JS                               * *-->
            <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        </body>
    </html>
    