<!--Template que muestra el formulario para cargar un resultado-->
{% extends 'AppTennis/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <title>Formulario Resultado</title>
  </head>
  <body>
   <body>
    {% if miFormulario.errors %}
    <p style="color: red;"> Carga Erronea </p>
    {% else %}
    <p style="color: black;"> Cargar Resultado </p>
    {% endif %}

    <form action="" method="post"> {% csrf_token %}
       
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">
        
     </form>   
     <li> <p><a href="{% url 'novedades' %}"><h3> Ir a  Inicio </h3></a> </p>  </li>

     {% endblock %}