<!--Template que  carga datos de un torneo-->
{% extends 'AppTennis/padre.html' %}
{% block title  %} Cargar un Torneo {% endblock title  %}
{% load static %}
{% block contenidoQueCambia %}

    <title>Formulario Torneo</title>
  </head>

   <body>
    {% if miFormulario.errors %}
    <p style="color: red;"> Carga Erronea </p>
    {% else %}
    <p style="color: black;"> Ingrese los datos del Torneo </p>
    {% endif %}

    <form action="" method="post"> {% csrf_token %}
       
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">
        
     </form>  
     <li> <p><a href="{% url 'novedades' %}"><h3> Ir a  Inicio </h3></a> </p>  </li>

   {% endblock %}