<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Nombre: <i>{{ freelance.nombre }}</i></p>
    <p>Apellido: <i>{{ freelance.apellido }}</i></p>
    <p>mail: <i>{{ freelance.mail }}</i></p>
    <p>Profesion: <i>{{ freelance.profesion }}</i></p>
    <p>Servicios: <i>{{ freelance.servicios }}</i></p>
    <p>
        <a href="{%url 'List' %}">Regresar</a>
    </p>
</body>
</html>