{% extends "AnatoApp/pagina2.html" %}
{% load static %}

{% block Alumnos %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for p in entradas %} 
        <li>{{p}}</li>
        <button>
            <a href="{% url 'EliminarEntrada' p.titulo %}"> Eliminar</a>
            <a href="{% url 'EditarEntrada' p.titulo %}"> Editar</a>
        </button>
    {% endfor %}
    <p> </p>
</body>
</html>

{% endblock %}