{% extends "App1/inicio.html" %}

{% load static %}

{% block exito%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#exampleModal').modal('show');
    });
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:#1d1d1d;">Cambio de contraseña Exitoso</h1>
          
        </div>
        <div class="modal-body">   
                    
                   <h1 class="modal-title fs-5">Logueate Nuevamente por favor!.</h1>    
                            
                <a class="btn btn-primary btn-s text-uppercase" href="verPerfil#card">Atras</a>
            </div>
        </div>
      </div>
    </div>

        
    
{% endblock %}
