



{% extends "App1/inicio.html" %}

{% load static %}

{% block consulta %}
<section class="page-section" id="contact">
    <div id="cali" style="text-align: center;" >
    <h1 style="color:#ffffff;">Consultas</h1>
    </div>


            {% for contacto in object_list %}
          
           <div style="text-align: center; max-width: 300px; margin: 0 auto;">
            <div class="list-group">              
              <a  class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ contacto.nombre }}</h5>
                  <small>telefono: {{ contacto.telefono}}</small>                  
                </div>
                <br>
                
                <div class="d-flex w-100 justify-content-between">
                    <h7 class="mb-1">Email: {{ contacto.email }}</h7>                                     
                  </div>
                  <br>
                  
                <div id="scroll">
                    
                   <p class="mb-1">Consulta: {{ contacto.consulta }}</p>
                </div>                        
                {% if request.user.is_superuser %}
                <a class="list-group-item list-group-item-action active"  href="{% url 'ContDelete' contacto.id %}">Borrar</a>
                {% endif %}                
              </a>
              <br>
              <br>                
            </div>                 
          </div> 
        </h4>     
      </div>  

         
        
          {% endfor %}
        </section>
  {% endblock %}