{% extends "App1/inicio.html" %}

{% load static %}

{% block editarperfil %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Editar Perfil</h1>
    <h1>De {{usuario}}</h1>
    

    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit" , value="Enviar"  >
        
       
        

    </form>  
        <a class="btn btn-primary btn-s text-uppercase" href="verPerfil#card">Atras</a>
  
{% endblock %}
