{% extends 'blog_vista/padre.html' %}
{% load static %}
{% block about %}


<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Soy Emiliano Tremonte, de 31 años y esto que pueden ver son mis comienzos en el mundo de la tecnología.  </p>
                <p>Soy médico egresado de la Universidad Nacional de La Plata y estoy en búsqueda de incursionar en nuevos horizontes relacionados a la programación.</p>
                <p>Este proyecto en particular busca simular una página de divulgación científica. Comprende el proyecto final del curso Python enfocado a Django dictado por Coderhouse. </p>
                <p>Si quieren ponerse en contacto conmigo, un poco más abajo pueden encontrar un link a mi perfil de GitHub y mi email. </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}