{% extends 'blog_vista/padre.html' %}
{% load static %}

{% block biologia %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ biologia.titulo }}</title>
</head>
<div class="container text-center">
    <body>
        
        <img style="height:150px" src="{{ biologia.imagen.url }}" alt="Imagen">
        
        <p><h1> <i>{{ biologia.titulo }}</i></p></h1>
        <p><h2><i>{{ biologia.subtitulo }}</i></p></h2>
        <p>Por: <i>{{ biologia.autor }}</i></p>
        <p>Fecha: <i>{{ biologia.fecha }}</i></p>
        <p><i>{{ biologia.texto }}</i></p>
        
        <p>
            <a class="btn btn-primary" href="{% url 'BiologiaList' %}">Regresar</a>
        </p>
    </body>
</div>
</html>
{% endblock %}