{% extends 'blog_vista/padre.html' %}
{% load static %}
{% block tecnologia %}

<div class="container text-center"> 
                <form enctype="multipart/form-data" action = "" method = 'POST'> 
                    
                    {%csrf_token%}
                    
                    <table>

                        {{form.as_table}}

                    </table>
                    
                     
                    <input type="submit" value="Enviar">
                </form>
                <a class="btn btn-primary" href="{% url 'TecnologiaList' %}">Regresar</a>
</div>
{%endblock%}   