{% extends "Blogapp/padre.html" %}

{% load static %}

{% block titulo %}
    AGREGAR AVATAR
{% endblock %}

{% block subtitulo %}
    {{ mensaje }}
{% endblock %}


{% block contenido %} 
    <div style="text-align: center;">
        <img src="{{ avatar }}" class="" alt="..." width="200" height="200">
    </div>
    <div>
        <form style="padding-left: 33%;" action="{% url 'agregar_avatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %} 
            <table>
                {{ form.as_table }}
            </table>
            <div style="padding-left: 15%;">
                <input class="" type="submit" value="Agregar">
                <a class="" href="{% url 'perfil' %}"> Volver </a>
            </div>
        </form>
    </div>
{% endblock %}

