{% extends "Blogapp/padre.html" %}

{% load static %}

{% block title %}
    Registro
{% endblock %}

{% block titulo %}
    Nuevo Usuario
{% endblock %}

{% block subtitulo %}
    {{ mensaje }}
{% endblock %}

{% block contenido %} 
    <form action="{% url 'registro' %}" method="POST" style="padding-left: 38%; border: solid 1px; padding-bottom: 1rem; "> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        
        <input class="" type="submit" value="Crear Usuario">
        <a class="" href="{% url 'inicio' %}"> Volver </a>
    </form>
    
{% endblock %}