{% extends "index.html" %}

{% block content %}

    <h2 class="text-lg-start shadow-sm p-3 mt-5 bg-body-tertiary rounded">Nuevo Post</h2>

    {% if errors %}
        <h4 class="errorData">{{errors}}</h4>
    {% endif %}
        
    <form action="/pages/create/" method="POST" enctype="multipart/form-data" class="estudiantes">
        {% csrf_token %}
        {{form.as_p}}
        {{form.media}}

        <div class="button1"><button class="btn41-43 btn-41">Crear Post</button></div>
    </form>


{% endblock %}

