{% extends "App1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <font color="Olive" face="Comic Sans MS,arial">
    <h1>Edita Tus Ingresos</h1>
    </font>
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if miFormulario.errors %} 
    <p style="color: red;">Estan mal los datos, revisar</p>
    {% endif %}

    <body>
        {% for p in ingresos %}
            <li>{{p}}</li>  
            <button type="button" class="btn btn-outline-info btn-sm"><a href="{% url 'EliminarIngreso' p.fecha %}"> Eliminar</a></button>
            <button type="button" class="btn btn-outline-primary btn-sm"><a href="{% url 'EditarIngreso' p.fecha %}">Editar</a></button>      
        {% endfor %}
        <br>
        <br>
        <!-- <a href="ingresos">Agregar otro Ingreso</a> -->    
        <button type="button" class="btn btn-outline-primary btn-sm"><a href="{% url 'IngresoFormulario' %}">Ingresa Otro Ingreso</a></button>
        
    </body>
        

{% endblock %}




