<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Protege Tu Futuro - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'App1/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                
                <a class="list-inline-item" href="{% url 'Inicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'Gasto' %}">Gastos</a>
                <a class="navbar-brand" href="{% url 'Ingreso' %}">Ingresos</a>
                <a class="navbar-brand" href="{% url 'Trading' %}">Trading</a>
                <a class="list-inline-item" href="{% url 'Login' %}">Login</a>
                <a class="list-inline-item" href="{% url 'Logout' %}">Logout</a>
                <a class="list-inline-item" href="{% url 'Register' %}">Registrate</a>             

                {% if request.user.is_authenticated %}
                    {% with avatares=request.user.avatar_set.all %}
                        {% if avatares %}
                             <img height="40px" src="{{avatares.0.imagen.url}}">
                        {% endif %}
                        <p class="text-muted small mb-4 mb-lg-0"> Hola, {{ request.user.username }} !!!</p>
                    {% endwith %}
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">INICIAR</a>
                {% endif %}
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">   
                <font color="Olive" face="Comic Sans MS,arial">
                <h1>Protege Tu Futuro</h1>
                <h6>Esta aplicacion te permite tener registros de todos tus gastos,</h6>
                <h6>ingresos y de tus inversiones tambien.</h6>
                <h6>De esta manera cuidas tu futuro y el de los tuyos tambien.</h6>
                </font>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-1"> <!-- 5-->
            <div class="container my-1"> <!-- 5-->
                <div class="content-center">
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Esto es lo que va a cambiar-->

        {% block contenidoQueCambia %}

        {% endblock %}
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <font color="Olive" face="Comic Sans MS,arial">
                    <a class="list-inline-item" href="{% url 'EditarPerfil' %}">Edita tu Perfil</a>
                    <li class="list-inline-item">⋅</li> 
                    <a class="list-inline-item" href="{% url 'AgregarAvatar' %}">Agregar Avatar</a>
                    <li class="list-inline-item">⋅</li>
                    <a class="list-inline-item" href="{% url 'AboutMe' %}">About Me</a> 
                    <li class="list-inline-item">⋅</li>              
                    </font>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Proyecto Python 2023 by Wentworth P. !!!.</p>
            </div>            
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


