<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Trading</title>
</head>
<body>
     <p> Estamos buscando el: {{fecha}}</p>
     {% if fechas %} 
     <ul>
     {% for fecha in fechas %} 
         <li>{{fecha.cryptocurrency}}</li>
         <li>{{fecha.fecha}}</li>
     {% endfor %}
     </ul>
     {% endif %}
</body>
</html>

