{% extends 'admin_templates/base_template.html' %}

<!-- block titulo -->
{% block title %}
Dashboard
{% endblock title %}

<!-- block css personalizado -->
{% block custom_css %}
{% endblock custom_css %}

<!-- block título de página -->
{% block page_title %}
Dashboard
{% endblock page_title %}

<!-- block contenido principal -->
{% block page_content %}

<p>Dashboard Inicio</p>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-primary">
          <i class="far fa-user"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Total Usuarios</h4>
          </div>
          <div class="card-body">
            {{usuarios}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
          <i class="fas fa-dice-d6"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Categorias</h4>
          </div>
          <div class="card-body">
            {{categorias}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-warning">
          <i class="fas fa-shipping-fast"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Productos</h4>
          </div>
          <div class="card-body">
            {{productos}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-success">
          <i class="fas fa-circle"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Online Users</h4>
          </div>
          <div class="card-body">
            En Blanco
          </div>
        </div>
      </div>
    </div>                  
  </div>


  <div class="container">
    <canvas id="myChart"></canvas>
  </div>
  

{% endblock page_content %}


<!-- block js personalizado -->
{% block custom_js %}
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<!-- conexión con chartjs -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script> -->
<script>
    /*chart de barras*/
    const etiquetas = {{ etiquetas|safe }};
    const cant_pxcat = {{ cant_pxcat|safe }};

    /*barra*/
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            /*labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],*/
            labels: etiquetas,
            datasets: [{
                label: 'Cantidad Productos por Categoría',
                /*data: [12, 19, 3, 5, 2, 3],*/
                data: cant_pxcat,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
   
</script>
{% endblock custom_js %}