{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>LoginDjango</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static '/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/modules/fontawesome/css/all.min.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static '/modules/bootstrap-social/bootstrap-social.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/components.css' %}">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="{% static '/img/logoDjStore2.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Has cerrado tu sesión</h4></div>


              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              Volver a ingresar? <a href="{% url 'login' %}">Ir a Login</a>
            </div>
            <div class="simple-footer">
              Copyright &copy; DevCristianSaavedra-Chile
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static '/modules/jquery.min.js' %}"></script>
  <script src="{% static '/modules/popper.js' %}"></script>
  <script src="{% static '/modules/tooltip.js' %}"></script>
  <script src="{% static '/modules/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static '/modules/moment.min.js' %}"></script>
  <script src="{% static '/js/stisla.js' %}"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="{% static '/js/scripts.js' %}"></script>
  <script src="{% static '/js/custom.js' %}"></script>
</body>
</html>