{% extends 'admin_templates/base_template.html' %}

<!-- block titulo -->
{% block title %}
MerchantUserList
{% endblock title %}

<!-- block css personalizado -->
{% block custom_css %}
{% endblock custom_css %}

<!-- block título de página -->
{% block page_title %}
Lista Merchant User
{% endblock page_title %}

<!-- block contenido principal -->
{% block page_content %}
    <div class="row">
    {% for merchantuser in merchantuser_list %}    
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <article class="article article-style-b">
              <div class="article-header">
                <div class="article-image" data-background="{{merchantuser.profile_pic}}" style="background-image: url(&quot;assets/img/news/img13.jpg&quot;);">
                </div>
                <div class="article-badge">
                  <div class="article-badge-item bg-danger"><i class="fas fa-user"></i>{{ merchantuser.auth_user_id.username }}</div>
                </div>
              </div>
              <div class="article-details">
                <p class="no-margin"><span class="badge badge-info">Nombre: {{ merchantuser.auth_user_id.first_name }} {{ merchantuser.auth_user_id.last_name }}</span></p>
                <p class="no-margin"><span class="badge badge-info">eMail: {{ merchantuser.auth_user_id.email }}</span></p>
                <p class="no-margin"><span class="badge badge-info">Empresa: {{ merchantuser.company_name }}</span></p>
                <p class="no-margin"><span class="badge badge-info">Dirección: {{ merchantuser.adress }}</span></p>
                <p><span class="badge badge-info">Creado por Admin?: {{ merchantuser.is_added_by_admin }}</span></p>
                <label class="custom-switch mt-2" style="float: left;">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if merchantuser.auth_user_id.is_active == 1 %}checked{% endif %}>
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">Activo</span>
                </label>
                <div class="article-cta">
                  <a href="{% url 'merchant_update' merchantuser.auth_user_id.id %}" class="btn btn-warning">Editar <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </article>
        </div>
    
    {% endfor %}
    </div>

{% endblock page_content %}


<!-- block js personalizado -->
{% block custom_js %}
{% endblock custom_js %}