{% extends "AppPreEntreg3/padre.html" %}

{% load static %}

{% block BloqueCambiante %}

<!--Aquí va lo que cambia, y lo asociado a está vista -->
    <section>
    <h2>¡Hola!</h2>
    <p>Mi nombre es Jerónimo y soy apasionado por la programación Backend. Me apasiona adentrarme en el mundo de la programación, este es mi primer approach como desarrolador web backend.</p>
    
    <p>Cuento con una breve experiencia en programación en C, C++ y Python. Pero nada muy complejo.</p>
    
    <p>En mi página web, compartiré contenido relacionado con una página de ropa. Puedes esperar encontrar varias funcionalidades orientadas al backend, como por ejemplo la edicion de productos, busqueda, edicion de perfil y más!.</p>
    
    <p>No dudes en explorar mi sitio y contactarme si tienes alguna pregunta o sugerencia.</p>
  </section>

  <footer>
    <b>Contacto:</b> jeronimoalo2015@gmail.com
  </footer>

{% endblock %}