{% extends "AppPreEntreg3/padre.html" %}

{% load static %}

{% block BloqueCambiante %}

<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
<div class="container">
    <div class="row mt-3">
    <div class="col-md-9 mx-auto mb-5" style="text-align: center;">
        <form action="" method="post">{% csrf_token %}
        {% if miFormulario.errors %}
            <div class="alert alert-danger">
                {% for field_name, field_errors in miFormulario.errors.items %}
                    <p>{{ field_errors }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <h3 class="mb-4">Editando Perfil de "{{usuario}}"</h3>
        <p>Nombre: {{ miFormulario.first_name }}</p>
        <p>Apellido: {{ miFormulario.last_name }}</p>
        <p>Correo: {{ miFormulario.email }}</p>
        <p>Nueva Contraseña: {{ miFormulario.password1 }}</p>
        <p>Repetir Contraseña: {{ miFormulario.password2 }}</p>
        <a class="btn btn-primary" href="{% url 'AgregarAvatar' %}">Agregar Avatar</a> <br><br>
        <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
        </form>
    </div>
    </div>
</div>
</main> 

{% endblock %}