<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tienda Ropa - Argentina</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="C:/Users/Jero/OneDrive - Acosta Daniel y Acosta Pablo S.H/Mis cosas/Cursos/Python CoderHouse/Proyecto-Final---Python-CoderHouse/Tercera Pre-Entrega/ProyectoPreEntreg3/AppPreEntreg3/templates/AppPreEntreg3/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppPreEntreg3/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand">Bienvenido</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'Remeras' %}">Remeras</a></li>
                                <li><a class="dropdown-item" href="{% url 'Buzos' %}">Buzos</a></li>
                                <li><a class="dropdown-item" href="{% url 'Pantalones' %}">Pantalones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Aboutme' %}">Sobre Mí</a></li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                    <ul class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hola, {{user.username}} 
                            {% with avatares=request.user.avatar_set.all %}
                            {% if avatares %}
                                {% with ultimo_avatar=avatares.last %}
                                    <img height="40px" src="{{ ultimo_avatar.imagen.url }}">
                                {% endwith %}
                            {% endif %}
                            {% endwith %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
                        </ul>
                    </ul>
                {% else %}
                    <a class="btn btn-outline-dark" href="{% url 'Login' %}" style="margin-right: 5px;">Login</a>
                    <a class="btn btn-outline-dark" href="{% url 'Register' %}" style="margin-right: 5px;">Registrate</a>
                {% endif %}
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-4">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Tienda Ropa Argentina 2023</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Productos originales fabricados en Argentina</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">

            <!-- Esto es lo que va a cambiar-->
            {% block BloqueCambiante %}

            {% endblock %}

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Jerónimo Gabriel Alo 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="C:/Users/Jero/OneDrive - Acosta Daniel y Acosta Pablo S.H/Mis cosas/Cursos/Python CoderHouse/Proyecto-Final---Python-CoderHouse/Tercera Pre-Entrega/ProyectoPreEntreg3/AppPreEntreg3/templates/AppPreEntreg3/js/scripts.js"></script>
    </body>
</html>
