{% extends "AppPreEntreg3/padre.html" %}

{% load static %}

{% block BloqueCambiante %}
    {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <a class="btn btn-outline-dark mt-auto" href="{% url 'pantalonesForm' %}">Agregar Pantalones</a>
        </div>
    {% endif %}
    <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
        <a class="btn btn-outline-dark mt-auto" href="{% url 'BusquedaPantalon' %}">Buscar Pantalones</a>
    </div>
    <!--Aquí va lo que cambia, y lo asociado a está vista -->
    {% for p in pantalones %}
        <section class="py-0">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product details-->
                                    <h5 class="fw-bolder">{{p.nombre}}</h5>
                                    <h6 class="fw-semibold">Diseño: {{p.diseño}}</h6>
                                    <h6 class="fw-semibold">Tamaño: {{p.tamaño}}</h6>
                                    <h6 class="fw-semibold">Color: {{p.color}}</h6> <br>
                                    ${{p.precio}} <br>
                                    Unidades Restantes: {{p.stock}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            {% if request.user.is_authenticated and request.user.is_superuser %}
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'EditarPantalon' p.nombre %}">Editar</a></div>
                                    <br>
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'EliminarPantalon' p.nombre %}">Eliminar</a></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}