{% extends "Usuario_app/base.html" %}
{% block contenidoQueCambia %}
{% load static %}

<div class="col-md-6 text-center mb-5">
</div>
</div>
<div class="row justify-content-center">
<div class="col-md-12 col-lg-10">
	<div class="wrap d-md-flex">
		<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
			<div class="text w-100">
				<h2>Bienvenido al Registro!</h2>
				<p> ← Ingresa tus datos para registrarte!</p>
				<p>Tips:</p>
					<li>Your password can't be too similar to your other personal information.</li>
					<li>Your password must contain at least 8 characters.</li>
					<li>Your password can't be a commonly used password.</li>
					<li>Your password can't be entirely numeric.</li>
			</div>
  </div>
		<div class="login-wrap p-4 p-lg-5">
	  <div class="d-flex">
		  <div class="w-100">
			  <h3 class="mb-4">Registro de cuenta</h3>
		  </div>
	  </div>
	  		<form action="" method="post" class="form">
				{% csrf_token %}


		<div class="form-group mb-3">
			<label class="label" for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
			    {{ form.username }}
		  </div>

        <div class="form-group mb-3">
          	<label class="label" for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}  
	    </div>

        <div class="form-group mb-3">
            <label class="label" for="{{ form.password1.id_for_label }}">Contraseña:</label>
                {{ form.password1 }}
        </div>

        <div class="form-group mb-3">
            <label class="label" for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
                {{ form.password2 }}    
        </div>

	<div class="form-group">
		
		<button type="submit" class="form-control btn btn-primary submit px-3">Crear cuenta!</button>
		<p></p>
        <a href="{% url 'Login' %}" class="form-cancel btn btn-primary px-3">←Volver atrás</a>
	</div>
  </form>
</div>
</div>
</div>

{% endblock %}