{% extends "AppFinal/layout.html" %}
{% load static %}

{% block lo-que-cambia %}
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Opiniones</h2>
          </div>
          {% for mensaje in mensajes %}
          <div class="row  d-flex align-items-stretch">
  
            <div class="col-lg-6 faq-item" data-aos="fade-up">
              <h4>{{mensaje.nombre}} dijo</h4>
              <p>
                "{{mensaje.comentario}}"
              </p>
              {% if request.user.is_authenticated and request.user.is_superuser %}
              <a class="btn btn-primary" href="{% url 'EditarMensaje' mensaje.nombre %}">Editar</a>
              <a class="btn btn-danger" href="{% url 'EliminarMensaje' mensaje.nombre %}">Eliminar</a>
              {% endif %}

            </div>
            {% endfor %}
            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <p>Para agregar un comentario debe autenticarse primero</p>
        {% endif %}
        <a class="btn btn-secondary" target="_blank" href="mensajes">Agregar un comentario</a>
      </section><!-- End Frequently Asked Questions Section -->

{% endblock %}