{% extends "AppFinal/layout.html" %}
{% load static %}

{% block lo-que-cambia %}
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Detalles del producto</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="{% url 'List'%}">Productos</a></li>
            <li>Detalles del producto</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{productos.imagen.url}}" style="max-width: 50%;height: auto;" alt="">
                </div> 

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{producto.nombre}}</h3>
              <ul>
                <li><strong>Categoría</strong>: {{productos.categoria}}</li>
                <li><strong>Precio (ARS)</strong>: ${{productos.precio}}</li>
                <li><strong>Stock</strong>: {{productos.stock}}</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Descripción</h2>
              <p>{{productos.descripcion}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock %}