{% extends "AppEntrega/padre.html" %}
{% load static %}
{% block cambio %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar recetas</title>
</head>
<body>
    
 
    <form action="/AppEntrega/buscar" method="GET">
        
        <input type="text" name="nombre" id="nombre">
        <input type="submit" value="Buscar">

    </form>
</body>
</html>

{% endblock %}