{% extends "proyectoapp/padre_html.html" %}
{% load static %}
{% block contenido %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <p class="lead">Arpeggio es la tienda ideal donde podras encontrar diferentes productos relacionados con artes, desde instrumentos musicales, libros sobre la historia del arte, material para pinturas y más... </p>
                <p class="lead">Tambien, podras adquirir grandes descuentos adjuntando tu carne estudiantil o certificado de artista</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}