{% extends "proyectoapp/padre_html.html" %}
{% load static %}
{% block contenido %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
{% if miFormulario.errors %} 
<p style="color: red;">Estan mal los datos, revisar</p>
{% endif %}

<form action="" method="POST">{% csrf_token %}
    <!--Aca esta la magia-->
    <table>
        {{ miFormulario.as_table }}
    </table>

    <input type="submit", value="Enviar">

</form>

<h1>Formulario - Editar Vendedor</h1>
    
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">

    </form>

{% endblock %}