{% extends "index.html" %}
{% load static %}

{% block content %}
   <img src="{% static 'images/background.jpg' %}" class="backgroundAbout">
   <h2 class="titleAbout">About Me</h2>

   <div class="AboutContainer">
        <div class="subcontainer">
            <h3>Sobre mi profesión</h3>
            <p> Me llamo Luiggi Márquez</p>
            <p> Soy Venezolano de nacimiento / naturalizado Colombiano</p>
            <p>Soy Ingeniero Electrónico engresado de la Universidad Nacional Experimental del Táchira
            que queda en un lindo lugar en la Cordillera de los Andes llamado San Cristobal, en el Estado Táchira
            en Venezuela</p>
            <p>Me gradué en el 2011</p>
            <p>Desde entonces he ejercido el área de IT: domótica, control de acceso, redes de internet, cableado estructurado, servidores y trabajé en un canal de televisión en Venezuela donde aprendí sobres las aplicaciones de las tecnología de información en el procesamiento de audio y video</p>
            <p>Actualmente trabajo como analista de IT para Coty Argentina, Brasil y México</p>
            
        </div>
        <div class="subcontainer">
            <h3>Sobre mi Yo Programador</h3>
            <p>Aprendí a hacer algoritmos y la lógica de programación en la Universidad con lenguaje C y algo de C++</p>
            <p>Con tanto tiempo libre en la pandemía, decidí estudiar programación</p>
            <p>Actualmente estoy terminando el curso de Python en Coderhouse</p>
            <p>Anteriormente terminé los cursos de Desarrollo Web, Javascript, React JS, SQL y Desarrollo Backend</p>
            <p>Pertenezco entonces al área del Desarrollo Full Stack</p>
            <p>Me encantan ambas áreas, disfruto del Backend y me divierto construyendo el Frontend</p>
            <p>Esto me ha ayudado a entender mejor cada área y escribir mi código considerando las dos partes</p>
            <p>Quiero estudiar también Angular JS</p>
            <p>No se a donde me lleve la vida, pero quiero a futuro usar todos mis conocimientos de ingeniería y redes y sumarlos a la programación</p>
        </div>
        <div class="subcontainer">
            <h3>Cosas Random sobre mi</h3>
            <p>Entre otras cosas, Soy Otaku de la cultura Japonesa</p>
            <p>Actualmente me encuentro aprendiendo autodidacta el idioma japonés y la cocina japonesa</p>
            <p>Amo cocinar</p>
            <p>Me encantan los idiomas, también estoy estudiando inglés</p>
            <p>Me gusta vivir en Buenos Aires, Argentina, aunque me gustaría irme a Japón</p>
            <p>Me gusta la música en inglés, japonés y coreano, el anime y el running</p>
            <p>- Team Invierno -</p>
            <p>Desde niño, y sin razón aparamente, me ha gustado el Monte Fuji (富士山), por eso lo escogi de Hero para mi página</p>
            <p>La expresión de abajo en japonés significa: “Si te caes siete veces, levántate ocho”</p>
        </div>
   </div>
   <div class="titleFinal">
        <p>七転び八起き</p>
    </div>
{% endblock %}