{% extends "index.html" %}

{% block content %}
    <h4>Perfil de usuario - Edición</h4>
    
    
    <div>
        <h5 class="centerTitle2" >Editar perfil de usuario</h5>
        <span class="centerTitle" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Si deseas modificar un campo debes sobreescribirlo. Si deseas borrar un campo, solo déjalo en blanco; El campo Link debe empezar por http:// o https://.para eliminar la imagen de perfil selecciona el checkbox 'Limpiar'">
            <h6>Ayuda</h6>
        </span>

       <form action="/profile/edit/" method="POST" enctype="multipart/form-data" class="formProfile">
        {% csrf_token %}
        {{form.as_p}}

        <div class="button1"><button class="btn41-43 btn-41">Actualizar</button></div>
       </form>
        
    </div>
   
  
        <div class="button1">
            
            <a href="{% url 'profile' %}"><button  class="btn41-43 btn-41">Ir a profile</button></a>
            <a href="{% url 'home' %}"><button  class="btn41-43 btn-41">Ir a Home</button></a>
        </div>
    </div>
{% endblock %}