*{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: steelblue;
}
h1{
	color: white;
}
article{
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 2px 2px black;
	display: inline-block;
	width: 30%;
	margin: 1rem;
	padding: 1rem;
}
article h3{
	text-align: center;
	font-size: 1.5rem;

}
article img{
	max-width: 90%;
}
article footer{
	font-size: 0.7rem;

}
