{% extends 'social/layout.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="about-description">
    <h1>Sobre mi</h1> 
    
    <img src="{% static 'Foto_perfil_Lautaro.jpg' %}">

    <p>¡Hola! Soy Walter Quiroga, un apasionado por la tecnología, estoy en constante aprendizaje y evolución. Mi experiencia se centra en el rubro aeronautico, con un fuerte enfoque en los datos, estadisticas y reportes, sin mucha relacion con el mundo IT.</p>

    <p>Mi interes por la informática comenzó de chico, siempre me encontraba armando un PC, actualizando o cambiando el sistema operativo, no vamos a mentir, rompiendo algun sistema cada tanto. Empecé a interesarme en la programación hace unos años, comence con un el curso gratuito de FreeCodeCamp de HTML y CSS, realice otros mas en google, UTN, Cisco y CoderHouse </p>
        
    <p>Despues incursionando un poco en las distintas ramas de la informática, note que me encanta el lado servidores, redes, y de seguridad informática, por lo que me comence a orientar para ese lado, hice el curso introductorio de Ciberseguridad en CoderHouse y el de Hacking Etico en la UTN.</p>
        
    <p>Me inscribi al curso de Python con un conocimiento basico del legunje, con la idea de ampliarlo y utilizarlo mucho mejor, ya que es un lenguaje muy util para las areas de seguridad informática y redes.</p>
        
    <p>Además de mi trabajo como administrativo, dicto cursos de Excel para el personal de Aerolineas Argentinas. Actualmente estoy en un periodo de transicion de area, estoy migrando para el area de redes de la compañia, acercandome cada vez mas a mi objetivo.</p>
        
    <p>Me compartir mi conocimiento por eso mismo me inscribi para dictar cursos de Excel, en un futuro me gustaria poder compartir mis conocimientos de informartica y abordar el area pedagogica de programacion, redes y/o seguridad informartica.</p>

    <p>En mi tiempo libre, disfruto de amigos, musica y los videojuegos, así como de explorar nuevas tecnologías y herramientas para mejorar mi trabajo y habilidades. Espero que disfrutes explorando mi proyecto final y sentite libre de contactarme si tienes alguna pregunta"</p>
    <br>
   
</div>

{% endblock %}