.navbar {
  margin-bottom: 0;
  background-color: #82f41e; /* Color de fondo adecuado */
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #000 !important; /* Letras en negro */
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #000 !important; /* Letras en negro */
}

.dropdown li a {
  color: #f4511e !important;
}

.navbar-default .navbar-nav>.open>a.dropdown-toggle {
  background-color: #f4511e !important;
}
