{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mt-5">{{ profesor.nombre }}</h1>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><strong>ID:</strong> {{ profesor.id }}</p>
          <p class="card-text"><strong>Nombre:</strong> {{ profesor.nombre }}</p>
          <p class="card-text"><strong>Apellido:</strong> {{ profesor.apellido }}</p>
          <p class="card-text"><strong>Documento:</strong> {{ profesor.Documento }}</p>
          <p class="card-text"><strong>Email:</strong> {{ profesor.email }}</p>
        </div>
      </div>
      <h2 class="mt-5">Cursos:</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Información del Curso</strong>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre del Curso</th>
                    <th>Cantidad de Profesores</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curso in cursos %}
                  <tr>
                    <td><a href="{% url 'detalle_curso' curso.id %}">{{ curso.nombre }}</a></td>
                    <td>{{ curso.profesor_set.count }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="2">No hay cursos asignados a este profesor.</td>
                  </tr>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
