{% extends 'layouts/base.html' %}
{% block content %}
<main class="contianer py-5">
    <div class="row">
      <div class="col-md-4 offset-md-4">
          <form action="/signin/" method="POST" class="card card-body text-center">
              <h1>Iniciar sesión</h1>
              {{error}}
              {% csrf_token %}
              <div class="mb-3">
                  <input type="text" placeholder="Nombre de usuario: " class="form-control" name="username">
              </div>
              <div class="mb-3">
                  <input type="password" placeholder="Ingrese su contraseña: " class="form-control" name="password">
              </div>
              <button class="btn btn-dark border-0">Iniciar sesión</button>
          </form>
      </div>
    </div>
  </main>
{% endblock %}