<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../../static/App1/css/styleLogin.css" rel="stylesheet" />
</head>
<body id="body">
    <div class="formulario" >
        <h1>Inicio de sesion</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar</button>
            <a class="navbar-brand" href="{% url 'Register' %}">Eres nuevo? Registrate</a>
            <a class="navbar-brand" href="{% url 'Logout' %}">Logout</a>
        </form>
    </div>
</body>
</html>