{% extends "app/index.html" %}

{% block info %}
<h1>CorPage</h1>
<p>Para mantener la transparencia  de los funcionarios públicos esta  plataforma en línea  esta diseñada para que los ciudadanos puedan consultar de una manera simple y rápida los hechos de corrupción gubernamental y los actores que intervinieron en el mismo.</p>
<p>Esta herramienta  web facilita el acceso a la información y la participación ciudadana, con el propósito de contribuir a combatir la corrupción en colombia. La plataforma permite que los usuarios entreguen sus denuncias, las cuales serán revisadas por un administrador. Si la denuncia es aceptada, el equipo redactará el reporte correspondiente a la denuncia y este será publicado en la plataforma.</p>
{% endblock %}
