{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wellfleet&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/Pag_Usuario_Style.css' %}">
    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>    
</head>
<body>    
    <header>
        <h1>CorPage</h1>
        <div class="botones">
            <a href="{% url 'app:Actualizar_Datos_Usu' %}" class="boton-cuenta">Cuenta</a>
            <a href="{% url 'app:cerrar_sesion_post' %}" class="boton-cerrar">Cerrar sesión</a>
        </div>        
    </header>
    <div class="barra-nav">

        <samp>USUARIO</samp>
        <nav>
            <ul class="main-nav">                
                <li class="main-nav__item"><a href="">CONSULTAS ↧</a>
                    <ul>                        
                        <li class="main-nav__item-subm"><a href="{% url 'app:Lista_Individuos' request.user.id %}">✔ Lista individuos</a></li>                      
                        <li class="main-nav__item-subm"><a href="{% url 'app:Lista_Partido' request.user.id %}">✔ Lista partidos</a></li>
                                                
                    </ul>           
                </li><br>
                <li class="main-nav__item"><a href="{% url 'app:Crear_Individuo_Usu' %}">CREAR INDIVIDUO</a></li>
                <li class="main-nav__item"><a href="{% url 'app:Crear_Proceso_Usu' %}">CREAR PROCESO</a></li>
                <li class="main-nav__item"><a href="Afiliar_a_partido_Usuario.html">AFILIAR INDIVIDUO A PARTIDO</a></li>                           
                <li class="main-nav__item"><a href="Implicar_Afiliado_Usuario.html">IMPLICAR AFILIADO A PROCESO</a></li>              
                
            </ul>   
                     
        </nav>       


    </div>

    <main>
        {% block main %}
        {% endblock %}
    </main>


</body>
</html>
