{%extends "appcoder/base.html"%}
{% block contenido %} 
    <h1> <p style="color:rgb(130, 198, 238);"> Python Final </p></h1>
    <h5> <p style="color:black;"> Hola a todos, mi nombre es Lucas Monteros</p></h5>
      
    <h8> <p> Estoy por incursionar en el mundo de la analítica de datos con el fin de obtener un perfeccionamiento profesional , Lo que requirio introducirme al mundo de la programación y en particular del lenguaje Python  </p></h8>
    
    <h8> <p> Desde realizar varias búsquedas y por recomendaciones inicie el curso de Python de conder house. Fue una buena experiencia para ir acercándome al mundo de la programación.  </p></h8>
    <h8> <p> Se que queda un camino largo y desafiante por recorrer, pero no voy a parar hasta complir mis objetivos </p></h8>
    <h8> <p> Desde muchas gracias a los profesores y tutores.  </p></h8>

    




{% endblock %}