{% extends "App1/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}


<style>
    .text {
        font-family: 'Pacifico', cursive;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>
<br>
    <h4 class="text">Hola, mi nombre es Francisco Bellanza. Soy de argentina y es lo primero que aprendo sobre todo el mundo de la programación, la verdad que estoy bastante entusiasmado con todo esto y siento que soy bastante habil (aunque esto ultimo que estuvimos viendo me costo un poco más). Este proyecto es un vlog de cocina, en el cual hablo un poco acerca de la gastronomia y dejo un par de recetas. Espero que les guste y muchas gracias por tomarse el tiempo de leer y ver mi entrega.</h4>

{% endblock %}