{% extends "App1/padreBlog.html" %}
{% load static %}
{% block contenidoQueCambia2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .text {
            font-family: 'Roboto Slab', serif;
            margin-left: 10px;
            margin-right: 10cm;
            }    
            
    </style>

    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="imagen">
    <br><br>
    <h1 class="text">¿Qué es la gastronomía?</h1>
    <br><br>
    <h5 class="text">La gastronomía es la disciplina, comprendida como un arte, que estudia las relaciones del ser humano con su modo de alimentación y con el entorno cultural en el que la cocina se da.
        <br><br>
        
        La gastronomía brinda una aproximación a la cultura empleando la comida como eje central. Se ocupa tanto de técnicas de cocción, datos nutricionales y ciencias alimenticias, como del manejo profesional de los sabores y aromas en la confección de un platillo culinario.
        <br><br>
        
        La gastronomía no es simplemente el gusto por la comida o por cocinar. De hecho, esta disciplina se ocupa de múltiples apreciaciones de lo cultural en torno a la cocina y la alimentación, como la elección de los ingredientes, la tradición en torno a la comida o la influencia religiosa en la manera de comer.
        <br><br>
        No todo cocinero es un gastrónomo, ni siquiera aquellos que ostenten la etiqueta de “chef”. Un verdadero gastrónomo es aquel que se dedica a experimentar, descubrir, investigar, comprender y generar documentación sobre la manera en que comemos los seres humanos en las distintas culturas.</h5>
        <br><br>
    <h2 class="text">Historia de la gastronomía</h2>
    <br><br>
    <h5 class="text">La historia de la gastronomía se remonta a la antigüedad clásica, cuando surgieron los primeros recetarios, en parte impulsados por la presencia en la Roma Imperial de alimentos provenientes de diversos rincones de África, Asia y Europa del norte.
        <br><br>
    La tradicional dieta romana se vio entonces enriquecida enormemente, lo cual además convirtió el acto de comer en un acto ceremonial en el que se introducían los alimentos antes de incorporarlos al banquete, destinado a los nobles y a los ricos. No faltaron entonces tratadistas sobre la comida, como Lúculo y Marco Gravio Apicio.
        <br><br>
    Posteriormente, el Medioevo se vio enormemente influenciado por la cocina bizantina y la árabe, herederas de la griega y romana, especialmente en las áreas en que los moros dominaron, como fue el sur de España (Al-ándalus) o de Italia.
        <br><br>
    La gastronomía fue muy valorada en este largo período en que, paradójicamente, las hambrunas y la miseria abundaron. Fueron comunes los tratados culinarios como The forme of Curry, de Ricardo III de Inglaterra, o Daz Buch von guter Spise, obra alemana anónima.
        <br><br>
    Con el Renacimiento europeo, la gastronomía cobró aún mayor realce, especialmente en Francia, donde el barroco y la dinastía borbónica fomentaron las artes del buen comer entre la nobleza, incluso en las épocas en que la plebe pasaba hambre.
        <br><br>
    Esto sin duda tuvo su impacto en la Revolución Francesa de 1789. Uno de los mayores tratados gastronómicos de la época fue Arte de cocina, pastelería, bizcochería y conservería (1611) del español Francisco Martínez Motiño.
        <br><br>
    Ya en la Edad Contemporánea, la gastronomía se popularizó y dejó de ser exclusiva de los sectores aristocráticos. Sin embargo, eventualmente se convirtió de nuevo en una marca de clase y distinción, solo que esta vez a manos de la burguesía.
        <br><br>
    Con el nacimiento de los restaurantes y de las conservas (durante la Revolución Industrial), un paradigma alimenticio cambió para siempre en Occidente, tal y como lo reseñaron Brillat Savarin (Fisiología del gusto, 1826) o Alexandre Dumas (Le Grand Dictionnaire de Cuisine, 1873).
        <br><br>
    Con la llegada del siglo XX y la producción masiva de alimentos, la gastronomía se diversificó enormemente, distinguiendo entre otras cosas la cocina “de autor” o de restaurantes “artísticos”, de la fast food. En este marco nació la nouvelle cuisine, que intenta juntar tradición y sencillez en una nueva forma de cocinar.
    </h5>
</div>
</body>
</html>


 

{% endblock %}