{% extends "App1/padreBlog.html" %}
{% load static %}
{% block contenidoQueCambia2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .text {
            font-family: 'Coming Soon', cursive;
            margin-left: 10px;
            margin-right: 10cm;
            }    
        
        .texto {
            color:rgb(197, 79, 115);
            font-family: 'Baloo 2', cursive;
            margin-left: 10px;
            margin-right: 10cm;
            }
            
        .espacio1 {
            margin-left: 1cm;
            margin-right: 10cm;
            font-family: 'Coming Soon', cursive;
        }

        .espacio2 {
            margin-left: 15px;
            font-family: 'Coming Soon', cursive;
        }
            
    </style>

</head>
<body>
    <br>
    <h2 class="texto">POLLO ASADO AL HORNO CON PAPAS Y CEBOLLA</h2>
    <br>
    <h2 class="text">INGREDIENTES:</h2>
    <h3 class="espacio2">INGREDIENTES PARA 4 PERSONAS:</h3>
        
        <h3 class="espacio1">- 1 pollo entero o 4 muslos completos (cuartos traseros)
        <br>
        - 4 patatas medianas
        <br>
        - 4 cebollas medianas
        <br>
        - aceite de oliva
        <br>
        - sal y pimienta
        <br>
        - Tomillo seco</h3></h3>
    <br>        
    <h2 class="text">PREPÁRACIÓN</h2>
    <br>
    <h3 class="espacio1"> 1.Comenzamos pelando las patatas. Una vez peladas, las cortamos en rodajas finas, de no más de 1 centímetro de grosor. Después, las ponemos como base en una bandeja para horno. Pelamos también las cebollas y las cortamos en tiras finas. La ponemos sobre la patata y salpimentamos todo.
        <br><br>
        2.A continuación ponemos los muslos encima de las patatas y la cebolla. Le añadimos a todo un vaso de agua y un chorrete de aceite de oliva. Así quedará mas jugoso mientras se hornea. Nos aseguramos que en el fondo de la fuente, haya siempre humedad. Así la guarnición no se va a quemar. Salpimentamos y añadimos un buen pellizco de tomillo seco a cada muslo (o al pollo completo, si has elegido la pieza completa)
        <br><br>
        3.Metemos el pollo al horno a 220ºC si utilizas muslos. calor arriba y abajo. Dejamos hornear unos 30 minutos, hasta que se dore bien. Si utilizas un pollo entero, horneamos a 190ºC.
        <br><br>
        4.Cuando esté bien dorado, sacamos la bandeja del horno, le damos la vuelta a las piezas. Así, se cocinará el otro lado.
        <br><br>
        5.Inmediatamente después, volvemos a meter la bandeja dentro del horno. Finalmente dejamos cocinar aproximadamente el mismo tiempo, hasta que todo quede bien cocinado.
        
    </h3>
    <br><br>
    <h2 class="texto">BUZCOCHO DE LECHE ESPONJOSO</h2>
    <br>
    <h2 class="text">INGREDIENTES:</h2>
    <h3 class="espacio2">INGREDIENTES PARA 1 BIZCOCHO:</h3>
    
    <h3 class="espacio1">- 3 huevos
        <br>
        - 250g de harina
        <br>
        - 200g de azucar
        <br>
        - 1 cucharada de levadura quimica
        <br>
        - 120ml de leche
        <br>
        - 100ml de aceite de girasól
        <br>
        - 1 cucharadita de esencia de vainilla
        <br>
        - 1 cucharadita de canela molida
    <br>
    <h2 class="text">PREPÁRACIÓN</h2>
    <br>
    <h3 class="espacio1">1.Batimos los huevos con la mitad del azúcar. Batimos durante unos minutos, hasta que el huevo esté bien oxigenado y haya doblado el tamaño.
        <br><br>
        2.Echamos el resto del azúcar, la leche, el aceite, la canela y la esencia de vainilla. La leche si está caliente mejor pero como mínimo, que no esté fría de la nevera. Así nos quedará el bizcocho más esponjoso. Mezclamos hasta que se integre todo bien.
        <br><br>
        3.Es el turno de los ingredientes más sólidos del bizcocho de leche. Ponemos la harina y la levadura en polvo en un tamiz o un colador y la tamizamos sobre la mezcla.
        <br><br>
        4.Untamos bien de mantequilla un molde y espolvoreamos después con harina, para que no se pegue. Metemos aquí la mezcla.
        <br><br>
        5.En el horno ya precalentado a 180ºC, metemos el molde a la rendija del medio durante unos 40 minutos. El tiempo es orientativo. Una manera fidedigna de saber si está hecho es pinchando un poco con el tenedor y salga limpio, significará que nuestro bizcocho ya estará listo. Si ves que se hace en menos tiempo, puedes taparlo con papel de aluminio, para que no se queme por fuera pero que termine de cocerse en su interior.
        
    </h3>

    </h3></h3>

</body>
</html>


 

{% endblock %}